body{
    margin: 0;
}

header{
    display: flex;
    flex-flow: row;
    border: 2px solid black;
    width: 100%;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
}

header img{
    width: 4rem;
}

