:root{
    --main-color : #f8f7ff;
    --secondary-color : #b8bedd;
    --tertiary-color : #9c89b8;
}

body{
    margin: 0;
    max-width: 100%;
    background-color: var(--main-color);
}

header{
    display: flex;
    flex-flow: row;
    width: auto;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    background-color: var(--tertiary-color);
    padding-left: 2rem;
    padding-right: 2rem;
}

header img{
    width: 5rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header a{
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem 1rem;
    display: block;
}

.navLink:hover{
    background-color: var(--secondary-color);
}

.headerEnd{
    display: flex;
    flex-flow: row;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.wallet{
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem 1rem;
    display: block;
}

@media screen and (max-width: 320px) {
    header {
        flex-flow: column;
        align-items: flex-start;
        height: auto;
    }

    header img {
        margin-bottom: 1rem;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    header a {
        padding: 1rem;
    }

    .headerEnd {
        flex-direction: column;
        align-items: flex-start;
    }

    .wallet {
        padding: 1rem;
    }
}
